<!DOCTYPE html>
<html ng-app="guestInput">
  <head>
    <meta charset="utf-8">
  	<title>Seatly</title>
  	<base href="/">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <body ng-controller"guestInputCtrl">

    <p>{{ message }}</p>

    <form name="guestInputForm">
      <input ng-model="guestName" type="text" class="form-control" placeholder="Your Guest's Name">
      <input ng-model="friendName" type="text" class="form-control" placeholder="Your Guest's Plus-One">
      <div>
        <button ng-click="addGuest()">Add Next Guest</button>
      </div>
      <div>
        <button ng-click="addAllGuests()">Done</button>
      </div>
      
    </form>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    <script src="app/components/guestInput/guestInputController.js"></script>
    <script src="app/components/guestInput/guestInputFactory.js"></script>

  </body>
</html>