body {
	margin-top: 50px;
	margin-bottom: 50px;
}

.headline {
	color: #218C8D;
}

div .name-field {
	margin-bottom: 10px;
}

div .input-list {
	margin-top: 10px;
}

.highlight-box {
	background-color: #FFFFCC;
	text-indent: 10px;
}

.add-next-guest {
	background-color: #6CCECB;
	margin-bottom: 10px;
}

.done-adding {
	margin-bottom: 10px;
	font-weight: bold;
}

form, h1, .link {
	padding-bottom: 10px;
	text-align: center;
}

.link {
	margin-top: 20px;
}

.password {
	margin: 5px 0 10px 0;
}

.listview {
	width: 35%;
	margin: 0 auto;
}

table, th, td {
	border: 1px solid black;
	padding: 5px;
}

.row:hover {
	background-color: #218C8D;
	cursor: pointer;
}

tr:nth-child(even) {
	background-color: #6CCECB; 
}

tr:nth-child(odd) {
	background-color: #8EDC9D;
}

tr:nth-child(1) {
	background-color: #F9E559;
}

.listview h5 {
	text-align: center;
	margin: 10px 0;
}

table: {
	margin: 10px;
}
